
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

.container {
    background-color:darkgreen;
    color: white;
}

.row {
    display: flex;
}

.col {
    justify-content: space-between;
    text-align: center;
}

.hero {
}

.hero__text {
    color: red;
}

.hero p {
}

.btn {
    background-color: turquoise;
    color: black;
    border-radius: 20px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}
